*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #232323;
}

.container {
  display: flex;
  width: 60%;
  max-width: 1200;
  height: 600px;
  box-shadow: 0 4px 8px #00000033;
  border-radius: 10px;
  overflow: hidden;
}

.input-container {
  margin-bottom: 10px;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 0.85em;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}

.image-section {
  width: 50%;
  background: url("img/photo15518887647.jpg") no-repeat center center;
  background-size: cover;
}

.form-section {
  width: 35%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  align-self: flex-start;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

input.error {
  border-color: red;
}

label {
  display: block;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #232323;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.hidden {
  display: none;
}
